body {
    background-color: black;
    overflow-x: hidden;
    margin: 0;
}


.background header {
    margin-top: 50px;
    margin-bottom: 100px;
    color: greenyellow;
    font-family: "Eater", serif;
}

header h1 {
    font-size: 100px;
}

#carousel-exemplo {
    max-width: 1240px;
    margin: 0 auto;
}

#carousel-exemplo img {
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}

.division {
    max-width: 1320px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
    padding-top: 100px;
    border-bottom: 1px solid greenyellow;
}

.novidade {
    margin-top: 50px;
}

.novidade h1 {
    padding-left: 135px;
    padding-bottom: 50px;
    color: chartreuse;
    font-family: "Eater", serif;
}

.fundo {
    background-color: rgb(8, 8, 8);
    color: greenyellow;
}

.fundo h4 {
    font-family: "Eater", serif;
}

.fundo a {
    background-color: rgb(8, 8, 8);
    border: none;
    color: greenyellow;
    font-family: "Eater", serif;
}

.fundo a:hover {
    background-color: greenyellow;
    color: black;
}

.final-page {
    padding-bottom: 100px;
}

.rodape {
    background-color: greenyellow;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    color: rgb(8, 8, 8);
    font-family: "Eater", serif;
}

@media (min-width: 1240px) {
    header h1 {
        font-size: 100px;
    }
    .carousel-caption h2 {
        font-size: 30px;
    }
    .novidade h1 {
        padding-left: 135px;
        font-size: 36px;
    }
    .card-body h4 {
        font-size: 18px;
    }
}

@media (max-width: 1200px) and (min-width: 768px) {
    header h1 {
        font-size: 80px;
    }
    .carousel-caption h2 {
        font-size: 24px;
    }
    .novidade h1 {
        font-size: 28px;
        padding-left: 80px;
    }
    .card-body h4 {
        font-size: 16px;
    }
    /* Ajuste do layout de cards */
    .col-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 767px) {
    header h1 {
        font-size: 50px;
        text-align: center;
    }
    .carousel-caption h2 {
        font-size: 20px;
    }
    .novidade h1 {
        font-size: 24px;
        padding-left: 20px;
    }
    .card-body h4 {
        font-size: 14px;
    }
    /* Ajuste do layout de cards para 1 por linha */
    .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .carousel-indicators {
        display: none;
    }
}